body, #root {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #000;
  color: #0f0;
  font-family: 'Courier New', Courier, monospace;
}

.terminal {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow-y: scroll;
  background-color: #000000;
  overflow: hidden;
}

.terminal-output {
  font-size: 16px;
  height: 100vh;
  overflow-y: auto;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #00ff00 #000000;
}

form {
  display: flex;
  align-items: center;
}

span {
  margin-right: 10px;
}

input {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  color: #00ff00;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  outline: none;
}

.ascii-art {
  font-size: 16px;
  line-height: 1;
  white-space: pre;
  margin-bottom: 20px;
  color: #00ff00;
  text-shadow: 0 0 5px #00ff00;
}

.color-blue { color: #4169E1; }
.color-green { color: #00FF00; }
.color-white { color: #FFFFFF; }
.color-yellow { color: #FFD700; }
.color-red { color: #FF0000; }

.terminal::-webkit-scrollbar {
  width: 12px;
  border-radius: 6px;
}

.terminal::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 6px;
}

.terminal::-webkit-scrollbar-thumb {
  background-color: #00ff00;
  border-radius: 6px;
  border: 3px solid #000000;
}

.terminal::-webkit-scrollbar-thumb:hover {
  background-color: #00cc00;
}
